{
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
